---
import HeadCommon from '../../components/HeadCommon.astro';
import { Controller } from '../../controller/Controller';
---

<html lang="en" class="m-0 dark">
  <head>
    <HeadCommon />
    <title>bloom controller</title>
  </head>
  <body class="h-app-height bg-background m-0">
    <Controller client:only="react" />
  </body>
</html>
